.footer {
    background-color: #000000;
    padding: 2rem;
}

.img-section {
    display: flex;
    justify-content: end;
    justify-items: center;
    padding: 1rem;
}

.image1 {
    float: left;
    height: 70px;
}

.image2 {
    float: right;
    height: 70px;
    margin-left: 10px;
}

.content {
    color: white;
    font-size: 1rem;
}

.content-p {
    color: white;
}

.icon {
    color: white;
    margin-right: 4px;
}

p {
    margin: 0;
    color: #a0b8d1;
}

.content-p {
    margin-bottom: 5px;
}

.footer-head {
    background-color: #a0bdda;
    padding: 1.5rem;
}

.head-p {
    color: #0a3761;
    text-align: center;
    font-weight: bold;
    float: left;
    padding-top: 5px;
    margin-right: 10px;
}

.btn {
    background-color: #1779ba;
    color: white;
    border-radius: 0%;
    font-weight: 600;
    float: right;
}

.head-content {
    display: flex;
    justify-content: center;
}