.gradient-custom {
    /* fallback for old browsers */
    background: white;
}

.form-control-lg {
    background-color: #fff;
}

label {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
}